body {
  background-color: grey;
  min-height: 100vh;
  box-sizing: border-box;
  margin: unset;
}
body .navigation-bar {
  width: 100%;
  height: 50px;
  background-color: darkslategrey;
  position: sticky;
  top: 0;
}
body .navigation-bar .navigation-bar-content {
  max-width: 1280px;
  height: inherit;
  margin: 0 auto;
  background-color: blue;
  display: flex;
}
body .navigation-bar .navigation-bar-content .zone {
  width: 33%;
  height: inherit;
}
body .navigation-bar .navigation-bar-content .zone.left .weather-container {
  width: 30px;
  height: inherit;
  background-color: lightgreen;
}
body .navigation-bar .navigation-bar-content .zone.center .search {
  width: 100px;
  background-color: lightblue;
  height: inherit;
}
body .navigation-bar .navigation-bar-content .zone.right .user-interaction {
  width: 120px;
  height: inherit;
  background-color: lightcoral;
}
body .page-content {
  min-height: 100vh;
  background-color: gray;
}
body .page-content .content-body {
  background-color: lightgray;
  max-width: 1280px;
  margin: 0 auto;
}
