body {
  min-height: 97vh;
  min-width: 98vw;
}
body .container {
  box-sizing: border-box;
  width: 680px;
  min-height: 480px;
  margin: auto;
}
body .container .filters {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
body .container .list {
  padding: 0 20px;
}
