.container {
    box-sizing: border-box;
  }
  .container .content {
    display: flex;
  }
  .container .content .list {
    width: 400px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .alert-card {
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px #0000001a;
    border-left: 8px solid;
    border-color: #a4acb7;
  }
  .alert-card .header {
    position: relative;
  }
  .alert-card .header .title {
    font-size: 18px;
    color: #323f4b;
    font-weight: 600;
  }
  .alert-card .header .status {
    font-size: 18px;
    color: #323f4b;
  }
  .alert-card .header .date {
    font-size: 18px;
    color: #323f4b;
  }
  .alert-card .header .hour {
    font-size: 18px;
    color: #323f4b;
  }
  body {
    margin: auto;
    min-height: 97vh;
    min-width: 98vw;
  }
  