.advice-card-container {
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px #0000001A;
  border-left: 8px solid;
  border-color: #a4acb7;
}
.advice-card-container.opened .description .extra-data {
  display: unset;
}
.advice-card-container.opened .header .fa-chevron-right {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  transform: rotate(90deg);
}
.advice-card-container:hover {
  cursor: pointer;
  background-color: #F0F0F0;
  border-color: #909090;
}
.advice-card-container:last-child {
  margin-bottom: unset;
}
.advice-card-container .header {
  position: relative;
  align-items: center;
  padding-bottom: 12px;
}
.advice-card-container .header .name {
  font-size: 18px;
  color: #323F4B;
  font-weight: 600;
}
.advice-card-container .header .advice-type {
  font-size: 18px;
  color: #323F4B;
}
.advice-card-container .header .animal-type {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  color: dimgrey;
}
.advice-card-container .header .gender {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
}
.advice-card-container .header .gender.Macho {
  color: dodgerblue;
}
.advice-card-container .header .gender.Hembra {
  color: hotpink;
}
.advice-card-container .header .line {
  padding-top: 12px;
  border-bottom: 1px solid #CBD2D9;
  width: 72px;
}
.advice-card-container .header .fa-chevron-right {
  position: absolute;
  color: dimgrey;
  transition: 0.1s;
  top: 50px;
  font-size: 25px;
  right: 9px;
}
.advice-card-container .description {
  max-width: 85%;
}
.advice-card-container .description .extra-data {
  display: none;
  padding: 10px;
}
.advice-card-container .description .extra-data .img {
  margin: auto;
  width: 250px;
  height: 200px;
}
.advice-card-container .description .extra-data .img img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}
