.weather-today-container {
  box-sizing: border-box;
}
.weather-today-container .header {
  font-size: 33px;
  text-align: center;
  padding: 20px;
}
.weather-today-container .description {
  width: fit-content;
  border: 1px solid;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  margin: auto;
  display: flex;
  border-radius: 13px;
}
.weather-today-container .description .weather-time {
  flex-flow: column;
  display: flex;
  width: 300px;
  align-items: center;
  border-right: 1px solid;
  justify-content: center;
}
.weather-today-container .description .weather-time .fas.fa-sun {
  font-size: 80px;
}
.weather-today-container .description .other-data {
  min-width: 150px;
  max-width: 300px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
