.forecast-card-container {
  width: 18%;
  text-align: center;
  background-color: lightgoldenrodyellow;
  border: 3px solid yellow;
  border-radius: 8px;
  font-size: 30px;
  height: 160px;
  position: relative;
}
.forecast-card-container .description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: inherit;
}
.forecast-card-container .description .date {
  font-size: 19px;
  position: absolute;
  top: 4px;
  left: 7px;
}
